*~
*.rpath
*.pot
*.mo
*.gmo
*.o
*.lo
*.la
*.bak
*.stamp
*.tar.gz
*.pc
*.sed
*.sin
*.header
.libs
.deps
ABOUT-NLS
INSTALL
Makefile
Makefile.in
Makefile.in.in
Makevars
aclocal.m4
autom4te.cache/
config.guess
config.log
config.sub
configure
depcomp
gtk-doc.make
install-sh
ltmain.sh
m4/
missing
config.h
config.status
docs/reference/version.xml
docs/reference/html/
docs/reference/xml/
docs/reference/libreptool-decl-list.txt
docs/reference/libreptool-decl.txt
docs/reference/libreptool-scan.c
libtool
stamp-h1
tests/test*.png
tests/*.pdf
tests/rptreport_gtktreeview
tests/test_report.rptr
tests/test_rptprint
tests/test_rptreport
tests/test_rptreport_creation
tests/test_rptreport_liststore
tests/test_report_created*
tests/test_rptprint_mm.rptr
tests/test_report_newline.rpt
POTFILES
mkinstalldirs
stamp-it
intltool-*
Rules-quot
*.exe
